<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT ME</title>
    <link rel="shortout icon" href="static/favicon.png" type="image/png"> 
    <link rel="stylesheet" type="text/css" href="static/main.css"/>
</head>
<body>
    <div class="container">
    <nav>
        <div class="emeka">
            <img src="static/favicon.png" alt="logo" height="50" width="auto">
        <h2><a href="index.html">EMEZI-<span>NNAEMEKA</span></a></h2>

        </div>
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="About.html">ABOUT</a></li>
            <li><a href="contact.html">CONTACT ME</a></li>
            <li><a href="">SERVICES</a></li>
            <li><a href="">BLOG</a></li>
        </ul>
    </nav>
       

        <main class="class">
        <div class="about">    
        <h1>About me</h1>
          <h4>
            My name is Emezi Nnaemeka Success</br>
            I'm a front end developer from imo state Nigeria</br>

          </div>
          </h4>
          <div class="mission">
          <h1>My Mission</h1>
          <h4>
              I believe that humor combined with slick design and a creative</br>
              use of technology can make complicated ideas more understandable</br>
              and products more fun. My mission is to bring great ideas to life</br>
              and help others do the same...
          </h4>
          </div>
        </main>

        <figure class="capability">
            <h1>Capabilities:</h1>
            <div id="id">
            <h3 id="part">
                CREATING APIs:<br/>
                <img src="static/picture.jpg" height="500" width="auto"><br/></br>
                This is one the part of development<br/>
                 that i love so much<br/>
                and i find so much joy working on it.
            </h3>
            <h3 id="h3">
                WEB DEVELOPMENT:<br/>
                <img src="static/oguzhan-akdogan-qYMkkREOHa4-unsplash.jpg" height="500" width="auto"><br/>
                Actually web development is what attracted me<br/>
                to find imterest in programming<br/>
                and it is the first thing i learnt,

            </h3>

            <h3 id="work">
                FOOTBALL:<br/>
                <img src="static/fachry-zella-devandra-Yta-zdP9PVM-unsplash.jpg" height="500" width="auto"><br/>
                Apart from I.T works, am also a <br/>
                player when it comes to football<br/>
                i derive so much joy when doing that...

            </h3>
            <h3 id="none">
                OTHERS:<br/>
                <img src="static/halacious-tZc3vjPCk-Q-unsplash.jpg" height="500" width="auto"><br/>
                there are various things i can do <br/>
                but the main thing is, am a problem<br/>
                solver...


            </h3>


            </div>

        </figure>
    
        
    </div>


</body>
</html>