<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact me</title>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortout icon" href="static/favicon.png" type="image/png"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3,3,1/jquery.min.js">
    </script>
    <link href="https.//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="styleshee">
</head>
<body>

    <div class="container">
            <nav>
                <div class="emeka">
                <img src="static/favicon.png" alt="logo" height="50" width="auto">
                <h2><a href="index.html">EMEZI-<span>NNAEMEKA</span></a></h2>
    
                </div>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="About.html">ABOUT</a></li>
                    <li><a href="contact.html">CONTACT ME</a></li>
                    <li><a href="">SERVICES</a></li>
                    
                </ul>
            </nav>
            <div class="clear">
            <header class="head">

            
                <!-- <form action="contact me" method="POST"> -->
                <div class="wrapper">
                    <div class="content">
                        <h1>CONTACT ME</h1>
                        <p>connect with me by sending you view.</p>
                    </div>

                   <form action="submit_form" method="POST">
                        <div class="form">
                            <div class="top-form">
                                <div class="inner-form">
                                    <div class="label">name</div>
                                    <input type="text" name="Name"  placeholder="John" autofocus="autofocus">

                                </div>
                                <div class="inner-form">
                                    <div class="label">email</div>
                                    <input type="email" name="Email" placeholder="John@gmail.com">
                                </div>
                                <div class="inner-form">
                                    <div class="label">phone</div>
                                    <input type="text" name="Phone" placeholder="1234567890">
                                </div>
                            </div>

                            <div class="middle-form">
                                <div class="inner-form">
                                    <div class="label">subject</div>
                                    <input type="text" name="Subject" placeholder="subject">
                                </div>
                            </div>

                            <div class="buttom-form">
                                <div class="inner-form">
                                    <div class="label">Message</div>
                                    <textarea name="Message" placeholder="Your message"></textarea>
                                </div>

                        
                                <div>
                                    <input type="submit" name="send" id="send" value="submit"/>
                                    
                                 </div>
                                 <div>
                                <td><input type="reset" name="reset" id="reset" value="reset"/>
                                </div>
                                
                        

                            </div>


                


                        </div>

                    </form>

    </header>

      
        <footer></footer>



    </div>
    
</body>
</html>