<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <link rel="shortout icon" href="static/favicon.png" type="image/png"> 
</head>
<body>
    <div class="container">
    <nav>
        <div class="emeka">
            <img src="static/favicon.png" alt="logo" height="50" width="auto">
            <h2><a href="index.html">EMEZI-<span>NNAEMEKA</span></a></h2>

          </div>
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="About.html" active>ABOUT</a></li>
            <li><a href="contact.html">CONTACT ME</a></li>
            <li><a href="">SERVICES</a></li>
            <li><a href="">BLOG</a></li>


        </ul>

    </nav>
    <div class="clear">
        <div class="test">
            <h5>Hello,<br/> 
                <span class="text"></span>
                              
            </h5>


              <h2 class="wordCarousel">    
                <span>Thank you for contacting me: </span>  
                <div class="word"> 
        <!--        Use classes 2,3, or 4 to match the number of words --> 
                    <ol class="flip4"> 
                        <li>I will get back to you soon</li>
                        <li>Have a nice day</li>
 
                    </ol>
                </div>  
            </h2>


        </div>

    </div>
</body>
</html>